{% load static %}
{% load popular_post_tag %}


<div class="comment-area mt-4 mb-5">
  <h4 class="mb-4">{% count_comments post %} Comments on Healthy environment...</h4>
  <ul class="comment-tree list-unstyled">
    {% for comment in comments %}
    <li class="mb-5">
      <div class="comment-area-box">
        <div class="comment-thumb float-left">
          <img
            alt=""
            src="{% static 'images/blog/testimonial1.jpg' %}"
            class="img-fluid"
          />
        </div>

        <div class="comment-info">
          <h5 class="mb-1">{{ comment.name }}</h5>
          <span class="date-comm">| {{ comment.created|date:"M d, Y"}}</span>
        </div>
        <div class="comment-meta mt-2">
          <a href="#"><i class="icofont-reply mr-2 text-muted"></i>Reply</a>
        </div>

        <div class="comment-content mt-3">
          <p>
            {{ comment.body }}
          </p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
